<div class="pf-c-about-modal-box" role="dialog" aria-modal="true" aria-labelledby="about-modal-title">
  <div class="pf-c-about-modal-box__brand">
    <img class="pf-c-about-modal-box__brand-image"
         src="assets/Logo-RedHat-A-Reverse-RGB.svg"
         alt="{{ projectConstants.organization }}">
  </div>
  <div class="pf-c-about-modal-box__close">
    <button class="pf-c-button pf-m-plain"
            type="button"
            aria-label="Close dialog"
            (click)="modalRef.hide()">
      <i class="fas fa-times" aria-hidden="true"></i>
    </button>
  </div>
  <div class="pf-c-about-modal-box__header">
    <h2 class="pf-c-title pf-m-4xl" id="about-modal-title">
      {{ projectConstants.projectName }}
    </h2>
  </div>
  <div class="pf-c-about-modal-box__hero">
  </div>
  <div class="pf-c-about-modal-box__content">
    <div class="pf-c-about-modal-box__body">
      <div class="pf-c-content">
        <dl>
          <dt>Version</dt>
          <dd>{{ projectConstants.version }}</dd>
          <dt>Ceph Manager</dt>
          <dd>{{ hostAddr }}</dd>
          <dt>User</dt>
          <dd>{{ modalVariables.user }}</dd>
          <dt>User Role</dt>
          <dd>{{ modalVariables.role }}</dd>
          <dt>Browser</dt>
          <dd>{{ modalVariables.browserName }}</dd>
          <dt>Browser Version</dt>
          <dd>{{ modalVariables.browserVersion }}</dd>
          <dt>Browser OS</dt>
          <dd>{{ modalVariables.browserOS }}</dd>
        </dl>
      </div>
    </div>
    <p class="pf-c-about-modal-box__strapline">
      {{ copyright }}
      <br>
      {{ projectConstants.license }}
    </p>
  </div>
</div>
