@import '../../../../defaults';

::ng-deep {

  .login {
    background-image: url('../../../../assets/redhat_new_background.svg');
    background-size: cover;
    background-position: center;

    @media (min-width: $pf-global--breakpoint--xl) {
      background-position-x: 30%;
    }
  }

  @media only screen and (min-width: $pf-global--breakpoint--xl) {
    .pf-c-login__footer {
      padding-left: 26%;
    }
  }

  .pf-c-login__container {
    min-width: 0;
  }
}
